{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.js",
    "**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "src/index.ts",
    "src/config/index.ts",
    "src/logger/index.ts",
    "src/app/http/**",
    "src/app/socket/**",
    "src/app/http/public/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}